rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // e.g. projectImages/PROJ-XXXXXX/filename.png
    match /projectImages/{projectId}/{fileName} {
      // Anyone can read images publicly
      allow read: if true;

      // Only owners or admins can write
      allow write: if request.auth != null && isOwnerOrAdmin(projectId);

      function isOwnerOrAdmin(pid) {
        return isAdmin() ||
          // compare doc.submittedBy to request.auth.token.email
          get(/databases/{database}/documents/projects/$(pid)).data.submittedBy == request.auth.token.email;
      }

      function isAdmin() {
        return request.auth.uid in [
          "XdJonag5LPOYMpoxPS8wCDjZIqg2"
          // other admin UIDs if needed
        ];
      }
    }
  }
}
